* {
  margin: 0;
  padding: 0;
}

body {
  color: #484848;
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container {
  display: flex;
  flex-flow: row wrap;
  max-width: 1000px;
  min-height: calc(100vh - 192px);
  margin: 30px auto;
}
