.filters {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  background-color: white;
  height: 70px;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
}
button {
  margin-left: auto;
  margin-right: 30px;
  font-size: 18px;
  background-color: #FF5A5F;
  color: #FFFFFF;
  border: none;
  height: 48px;
  width: 20%;
  border-radius: 4px;
}
button:hover {
  opacity: 0.9;
}
.locations {
  flex-basis: 25%;
  align-self: flex-start;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding-left: 30px;
  border-right: 1px solid #DDDDDD;
  height: 100%;
}
.amenities {
  align-self: flex-start;
  flex-basis: 25%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding-left: 30px;
  height: 100%;
}
h3 {
  font-weight: 600;
}
h4 {
  font-weight: 400;
  font-size: 14px;
}
